<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h4>Employee List</h4>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-md-12">
      <input type="text" placeholder="Search By Name" class="form-control" style="width: 300px" [(ngModel)]="searchTerm">
    </div>
  </div>
  <div class="row" *ngFor="let employee of filteredEmployees">
    <div class="col-md-12">
      <app-display-employee [employee]="employee" [departments]="departments" [showCrudOptions]="true" [showBody]="false"
        [searchTerm]="searchTerm" [isPrevSelected]="employee.id === employeeIdToHighlight" (notifyDelete)="handleDelete($event)"></app-display-employee>
    </div>
  </div>

</div>