<form #employeeForm="ngForm" (ngSubmit)="saveEmployee()">
  <div class="card">
    <div class="card-header bg-primary">
      <h3 class="card-title">Create Employee</h3>
    </div>

    <div class="card-body">

      <div class="form-group">
        <label for="fullName"> Full Name </label>
        <input id="fullName" name="fullName" [(ngModel)]="employee.name" type="text" class="form-control"
          [class.is-invalid]="fullNameControl.touched && fullNameControl.errors?.required" #fullNameControl="ngModel"
          required>
        <small *ngIf="fullNameControl.touched && fullNameControl.errors?.required" class="invalid-feedback">
          * Full Name is required
        </small>
      </div>

      <div class="form-group">
        <label> Gender </label>
        <div class="form-control" [class.is-invalid]="genderControl.touched && genderControl.errors?.required">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" value="male" name="gender" [(ngModel)]="employee.gender"
              #genderControl="ngModel" required>
            <label class="form-check-label">
              Male
            </label>
          </div>

          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" value="female" name="gender" [(ngModel)]="employee.gender"
              #genderControl="ngModel" required>
            <label class="form-check-label">
              Female
            </label>
          </div>
        </div>

        <small *ngIf="genderControl.touched && genderControl.errors?.required" class="invalid-feedback">
          * Gender is required
        </small>

      </div>

      <div class="form-group">
        <label> Contact Preference </label>
        <div class="form-control" [class.is-invalid]="contactPrefControl.touched && contactPrefControl.errors?.required">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" value="email" name="contactPreference" [(ngModel)]="employee.contactPreference"
              #contactPrefControl="ngModel" required>
            <label class="form-check-label">
              Email
            </label>
          </div>

          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" value="phone" name="contactPreference" [(ngModel)]="employee.contactPreference"
              #contactPrefControl="ngModel" required>
            <label class="form-check-label">
              Phone
            </label>
          </div>
        </div>

        <small *ngIf="contactPrefControl.touched && contactPrefControl.errors?.required" class="invalid-feedback">
          * Contact preference is required
        </small>
      </div>

      <div class="form-group">
        <label for="email"> Email </label>
        <input id="email" type="text" name="email" [(ngModel)]="employee.email" class="form-control" #emailControl="ngModel"
          [class.is-invalid]="(emailControl.errors?.required || emailControl.errors?.email)" [required]="contactPrefControl.value === 'email'"
          email>

        <small *ngIf=" emailControl.errors?.required" class="invalid-feedback">
          * Email is required
        </small>
        <small *ngIf="emailControl.errors?.email" class="invalid-feedback">
          * Email is invalid
        </small>
      </div>

      <div class="form-group">
        <label for="phoneNumber"> Phone Number </label>
        <input id="phoneNumber" type="text" name="phoneNumber" [(ngModel)]="employee.phoneNumber" class="form-control"
          #phoneControl="ngModel" [class.is-invalid]="phoneControl.invalid" [required]="contactPrefControl.value === 'phone'">
        <small *ngIf="phoneControl.invalid" class="invalid-feedback">
          * Phone number is required
        </small>
      </div>

      <div class="form-group">
        <div class="form-check form-check-inline">
          <input id="isActive" type="checkbox" name="isActive" [(ngModel)]="employee.isActive" class="form-check-input">
          <label class="form-check-label" for="isActive">Is Active</label>
        </div>
      </div>

      <!-- Below control uses Custom Validation -->
      <div class="form-group">
        <label for="department" class="col-form-label"> Department</label>
        <select appSelectValidator="-1" class="form-control" id="department" name="department" [(ngModel)]="employee.department"
          #departmentControl="ngModel" [class.is-invalid]="departmentControl.touched && departmentControl.errors?.defaultSelected">
          <option [value]="-1">Select Department</option>
          <option *ngFor="let dept of departments" [value]="dept.id">{{dept.name}}</option>
        </select>
        <small *ngIf="departmentControl.touched && departmentControl.errors?.defaultSelected" class="invalid-feedback">
          * Department is required
        </small>
      </div>

      <div class="row">
        <div class="form-group col-md-4">
          <label for="dateOfBirth"> Date of birth </label>
          <input bsDatepicker [bsConfig]="datepickerConfig" placement="right" id="dateOfBirth" type="text" name="dateOfBirth"
            [(ngModel)]="employee.dateOfBirth" class="form-control" #dobControl="ngModel" [class.is-invalid]="dobControl.touched && dobControl.errors?.required"
            required>
          <small *ngIf="dobControl.touched && dobControl.errors?.required" class="invalid-feedback">
            * Date of birth is required
          </small>
        </div>
      </div>

      <div class="form-group">
        <label for="photoPath"> Photo Path </label>
        <input id="photoPath" type="text" name="photoPath" [(ngModel)]="employee.photoPath" class="form-control"
          #photoPathControl="ngModel" [class.is-invalid]="photoPathControl.touched && photoPathControl.errors?.required"
          required>
        <small *ngIf="photoPathControl.touched && photoPathControl.errors?.required" class="invalid-feedback">
          * Photo path is required
        </small>
      </div>

      <div class="form-group">
        <button type="button" class="btn btn-primary" (click)="togglePhotoPreview()">
          {{ (!previewPhoto ? "Show": "Hide") + " Preview" }}
        </button>
      </div>

      <div class="form-group" *ngIf="previewPhoto">
        <img [src]="employee.photoPath" style="width: 200px; height: 200px">
      </div>

      <!-- Cross field validation -->
      <div class="form-group">
        <label for="password">Password</label>
        <input id="password" name="password" #passwordControl="ngModel" type="text" class="form-control" [(ngModel)]="employee.password"
          (input)="confirmPasswordControl.control.updateValueAndValidity()" [class.is-invalid]="(passwordControl.touched && passwordControl.errors?.required) || (confirmPasswordControl.touched && confirmPasswordControl.errors?.notEqual && !confirmPasswordControl.errors?.required)"
          required>
        <small class="invalid-feedback" *ngIf="passwordControl.touched && passwordControl.errors?.required">
          * Password is required
        </small>
      </div>

      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input id="confirmPassword" name="confirmPassword" #confirmPasswordControl="ngModel" type="text" class="form-control"
          [(ngModel)]="employee.confirmPassword" appConfirmEqualValidator="password" [class.is-invalid]="confirmPasswordControl.touched && (confirmPasswordControl.errors?.required || confirmPasswordControl.errors?.notEqual)"
          required>
        <small class="invalid-feedback" *ngIf="confirmPasswordControl.touched && confirmPasswordControl.errors?.required">
          * Confirm Password is required
        </small>
        <small class="invalid-feedback" *ngIf="confirmPasswordControl.touched && confirmPasswordControl.errors?.notEqual && !confirmPasswordControl.errors?.required">
          * Password and Confirm Password does not match
        </small>
      </div>

    </div>

    <div class="card-footer">
      <button type="submit" class="btn btn-primary" [disabled]="employeeForm.invalid">Save</button>
    </div>
  </div>
</form>

Angular Generated Form Model: {{employeeForm.value | json}}
<br />
<br />
Employee Form Model: {{employee | json}}